
.jersey-25-charted-regular {
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button{

    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: #3F2305;

}

body{
    background-color: #FAEED1;
    color: #3F2305;
}

.logo{ 

        align-items: center;
        vertical-align: middle;

}

.item1 {  /*Header*/
    grid-area: header;
    align-items: center;
    background-color: #FDF7E4;
}  

.item2 { /*Nav*/
    grid-area: nav;
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background-color: #FDF7E4;
}

.item3 { /*Main*/
    grid-area: main;
    display: flex;
    align-items: center;
    width: auto;
    background-color: #FDF7E4;
    justify-content: center;
    margin-bottom: 10px;
}
  
.item4 { /*Footer*/
    grid-area: footer;
    background-color: #FDF7E4;
    position: fixed;
            padding: 1%;
            bottom: 0;
            width: 100%;

}

.item5 { /*inpiration*/
    grid-area: insp;
    background-color: #FDF7E4;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
}

.item6 { /*main txt*/
    grid-area: maintxt;
    background-color: #FDF7E4;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
    word-wrap: break-word;
}
  
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header   '
    'nav nav nav'
    'insp insp insp'
    'main main main   '
    'maintxt maintxt maintxt'
    'footer footer footer';
    gap: 10px;
    padding: 20px;
}
  
.grid-container > div {
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
}
  
.head{
    font-size: 36px;
    vertical-align: sub ;
    font-family: "Jersey 25 Charted";
    color: #3F2305;
}
.texto-receta-main{
color: #3F2305;
    display: block;
}

.recipe-home {
    display: flex;
    background-color: #3F2305;
    margin-bottom: 20px;
}
  
.recipe-home > div {
    background-color: #F5F5F5;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.barra-nav{
    display: flex;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 10%;
    background-color: #FAEED1 ;
    margin: 5px;
    
}

.sesion{
    display: flex;
    background-color: #FAEED1 ;
    justify-content: flex-end;
    margin: 10px;
    
}

.sesion > div {
    background-color: #FDF7E4;
    margin: 15px;
    width: auto;
    height: 10%;
    vertical-align: middle;
    align-content: center;
}

.barra-nav > div {
    margin: 15px;
    width: auto;
    background-color: #FDF7E4 ;
}

.frases {
    text-align: center;
    font-size: larger;
    font-family: cursive;
}

.loginbody {
    background-color: #FDF7E4 ;
    margin: 20px;
    padding: 20px;
    width: 80%;
    height: 80%;
}